
/uploads/product_qrcode/*
!/uploads/product_qrcode/index.html
/uploads/banner_tmp/*
!/uploads/banner_tmp/index.html
/uploads/banner/*
!/uploads/banner/index.html
/uploads/brands/*
!/uploads/brands/index.html
/uploads/images_banner/*
!/uploads/images_banner/index.html
/uploads/gmess/*
!/uploads/gmess/index.html
/uploads/gmess_tmp/*
!/uploads/gmess_tmp/index.html
/uploads/umeditor/*
/uploads/ueditor/*
!/uploads/ueditor/index.html

uploads/default/

/models/json_cache/

/html/products/*
!/html/products/index.html

.DS_Store
.DS_Store?

/static/css/*.map
/exports/orders_export/export_files/*.xlsx
*.

.idea

tmp

*.cache
*.cache.php
/.svn/entries
/.svn/format
/.svn/wc.db
/.svn/pristine

/static/less/css
/static/images/test
/cache/